.home{
background-color: rgba(0,0,0,0.85);
opacity:0.9;
height: 100vh;
width: 100vw;
}
.header{
margin: 0;
display: flex;
flex: 1;
padding: 0;
object-fit: cover;
flex-direction: column;


}
.header__container{
display: flex;
justify-content: space-between;
flex: 1;

}
/* .header__center{
display: flex;
height: 60vh;
width: 40vw;
margin-top: 200px;
margin-left: 79px   ;
} */

.header__type{
color:#111;
font-size: 29px;
font-weight: 500;
align-items: center;
align-content: center;
justify-content:center;
margin-top: 20%;
margin-right: 5%;
z-index: 1;
}
.header__type > p{
font-family:Georgia, 'Times New Roman', Times, serif;
}
.header__social{
display: flex;
flex-direction: column;
margin-top: 20%;
align-items: center;
align-items: center;
font-weight: 800;
color: black;
object-fit: cover;
height: 200px;

}
.header__social > .MuiSvgIcon-root{
margin-top: 10px;
font-size: xx-large;
transition: transform 100ms ease-in;
}
.header__social > .MuiSvgIcon-root:hover{
color: #3f51b5;
transform:scale(1.08);
}

.header__right{
margin:10px;
position: fixed;
z-index: 100;
}


.header__right__options > h2:hover{
color: #2eb1f4;
transform:scale(1.08);
}
.bg__bottom{
height: 9rem;
z-index: 1;
background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
  );

}
